.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 25%;
  height: 60vh;
  background-color: white;
  border-radius: 14px;
  position: relative;
  padding: 24px;
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
  flex-direction: column;
  gap: 20px;
}

.modal-line {
  display: flex;
  align-items: center;
  gap: 10px;
}

.close-modal {
  position: absolute;
  top: 14px;
  right: 14px;
  background-color: transparent;
  border: none;
  font-size: 28px;
}

.modal-text {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.modal-image {
  padding: 10px;
}

.modal-image img {
  width: 100%;
}

@media screen and (max-width: 1030px) {
  .modal-container {
    width: 60%;
  }
}

@media screen and (max-width: 767px) {
  .modal-container {
    width: 80%;
  }
}
