.analitic{
    padding: 10px;
}

.analitic-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.analitic-second-container{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
}

@media screen and (max-width:767px) {
    .analitic-second-container{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }
}