.analitic{
    padding: 10px;
}

.analitic-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.analitic-second-container{
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 10px;
}