.table-container {
  width: 65%;
}

table {
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

.table-container tr {
  display: grid;
  grid-template-columns: 150px 190px 153px 140px 1fr;
  width: 100%;
  text-align: left;
  align-items: center;
  padding: 14px 20px;
}

thead tr {
  border-bottom: 1px solid rgba(225, 225, 225, 0.475);
}

tbody {
  width: 100%;
}

td {
  color: rgb(183, 182, 182);
  font-size: 14px;
}

.status-to-do {
  background-color: #0ca4fa1a;
  color: #009dff;
  padding: 5px 0;
  width: 70px;
  border-radius: 5px;
  text-align: center;
}

.status-doing {
  background-color: #ddf95338;
  color: #dcdc26;
  /* color: yellow; */
  padding: 5px 0;
  width: 70px;
  border-radius: 5px;
  text-align: center;
}

.status-done {
  background-color: #3ac60f1a;
  color: green;
  padding: 5px 0;
  width: 70px;
  border-radius: 5px;
  text-align: center;
}

.status-lated {
  background-color: #fa0c201a;
  color: red;
  padding: 5px 0;
  width: 70px;
  border-radius: 5px;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: rgba(246, 246, 246, 0.514);
}

/* orders all product */

.order-sales-card-1{
  background-color: #0ca3fa64;
}
.order-sales-card-2{
  background-color: #ddf95338;
}
.order-sales-card-3{
  background-color: #3ac60f1a;
}
.order-sales-card-4{
  background-color: #fa0c201a;
}

.order-sales-card-1 .daliy-sales-card-icon {
  background-color: #009dff;
}

.order-sales-card-2 .daliy-sales-card-icon {
  background-color: #dcdc26;
}

.order-sales-card-3 .daliy-sales-card-icon {
  background-color: green;
}

.order-sales-card-4 .daliy-sales-card-icon {
  background-color: red;
}

@media screen and (max-width: 1030px) {
  .table-container {
    width: 80%;
  }
  .table-container tr {
    grid-template-columns: 100px 135px 100px 60px 1fr;
    padding: 10px;
    font-size: 12px;
  }
  .status-to-do {
    width: 50px;
  }
  .status-doing {
    width: 50px;
  }
  .status-done {
    width: 50px;
  }
  .status-lated {
    width: 50px;
  }
  .table-container td{
    font-size: 10px;
  }
}

@media screen and (max-width: 767px) {
  tr {
    width: 100%;
    font-size: 10px;
    font-size: 8px;
  }

  .table-container tr {
    grid-template-columns: 70px 95px 80px 55px 1fr;
  }

  .status-to-do {
    width: 40px;
  }
  .status-doing {
    width: 40px;
  }
  .status-done {
    width: 40px;
  }
  .status-lated {
    width: 40px;
  }

  tbody tr > * {
    font-size: 7px;
  }
  .table-container {
    width: 100%;
  }
  thead tr th{
    font-size: 9px!important;
  }
}
