.product {
  padding: 20px 1%;
}

.product-card-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 28px;
}

@media screen and (max-width: 1560px) {
  .product-card-container {
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }
  .product {
    padding: 20px 3%;
  }
}
@media screen and (max-width: 1250px) {
  .product-card-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}


@media screen and (max-width:767px){
    .product-card-container{
        grid-template-columns: repeat(2,1fr);
        gap: 12px;
    }
}